header {
    background-color: #f0f0f0;
    padding: 10px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    text-align: center;
}
main {
    display: flex;
    margin: 20px auto;
    justify-content: space-between;
    margin-top: 75px;
    padding: 15px;
    width: 60%;
    background-color: #e0e0e0;
}
aside {
    width: 30%;
    background-color: #d0d0d0;
margin: 20px auto;
padding: 15px;
z-index: 2;
position: sticky;
display: flex;
margin-left: 20px;
top: 80px;
z-index: 2;
}
footer {
    background-color: #c0c0c0;
    margin-top: 20px;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 5;
    text-align: center;
}